@import url("https://use.typekit.net/ajq5bje.css");

:root {
  --clr-pri: #fafaf7;
  --clr-sec: #000;
  --clr-ter: #fad3e1;

  --ff-header: hero-new, sans-serif;
  --ff-heading: lexia-mono, serif;
  --ff-main: hero-new, sans-serif;

  /* Hero New Font-weights */

  --h-semibold: 600;
  --h-light: 300;
  --h-ultralight: 200;

  /* Lexia Mono Font-Sizes */
  --l-bold: 700;
  --grid-gap: 1px;
}

* {
  margin: 0;
  scroll-behavior: smooth;
  padding: 0;
}

body {
  background-color: var(--clr-sec);
  max-width: 100vw;
  overflow-x: hidden;
}


.link:hover {
  cursor: pointer;
}

/* HEADER START */


.header {
  background-color: var(--clr-pri);
  max-width: 100vw;
  z-index: 50;
}

#headerTitleDesktop {
  display: none;
}

#underHeader{
  display: none;
}

/* BURGER MENU */
header {
  position: fixed;
  z-index: 10;
  background: var(--clr-pri);
}

.headermobile {
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 1rem 4rem;
  border-bottom: rgb(208, 208, 208) solid 1px;
  top: 0;
}
.regularmenu {
  display: none;
}

.hamburger-menu {
  width: 20px;
  height: 15px;
  position: fixed;
  top: 25px;
  left: 25px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.navbar {
  width: 100vw;
  height: 100vh;
  opacity: 1;
  position: fixed;
  top: 1.5rem;
  left: -1600px;
  display: flex;
  z-index: 10;
}

.line {
  width: 100%;
  height: 1px;
  background-color: black;
  transition: all 0.5s;
}
.change {
  left: 0;
}

.change .line-1 {
  transform: rotate(-405deg) translate(-1.5px, 6px);
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  transform: rotate(405deg) translate(-1.5px, -6px);
}

.icons ul {
  display: flex;
  gap: 1rem;
}
.icons img {
  width: 1.7rem;
  height: 2rem;
}
li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: black;
}

img.mobileLogo,
img.mobileLogo1 {
  width: 6rem;
}

.nav-list {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 0;
  background-color: white;
  z-index: 10;
  margin-top: 2rem;
}

.nav-item:first-child {
  background-color: rgb(245, 245, 245);
  padding-top: 1.5rem;
}

.nav-item {
  border-bottom: rgb(208, 208, 208) solid 0.8px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: 300;
  letter-spacing: 1px;
  position: relative;
  padding-top: 3px;
  padding-left: 0.8rem;
}

.nav-link::before,
.nav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.nav-link::after {
  bottom: 0;
}

.nav-link::before {
  top: 0;
  transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
  transform: scaleX(1);
}

.arrow {
  max-width: 1rem;
}

.iconx {
  display: none;
}



/* HEADER END */

.container {
  background-color: var(--clr-pri);
  width: 100%;
  gap: 1px;
}

h2,
h3 {
  font-family: var(--ff-heading);
  font-weight: var(--l-bold);
}

h1 {
  font-family: var(--ff-logo);
  font-weight: var(--h-semibold);
}

p,
a {
  font-family: var(--ff-main);
  font-weight: var(--h-light);
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h6 {
  font-family: var(--ff-main);
  font-weight: var(--h-light);
}

h4,
h5 {
  font-family: var(--ff-main);
  font-weight: var(--h-ultralight);
}

h2,
h3,
h4,
h5,
h6,
p {
  padding-left: 1rem;
  padding-right: 1rem;
}

#homeLogo:hover {
  cursor: pointer;
}

/*CONTACTPAGE*/

.contactmain {
  display: flex;
  flex-direction: column;
  gap: 1px;
  min-height: 87vh;
}

.contactgrid {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.contactimg {
  order: -1;
  padding-top: 10vh;
 padding: 0;
}

.contactimg img {
  width: 60%;
  padding: 10%;
  padding-top: 12vh;
}

.contactair {
  display: none;
}

.contactmain p,
.contactmain h2,
.contactmain h3,
.contactmain h4,
.contactmain h5,
.contactmain h6 {
  padding-top: 1rem;

  padding-bottom: 1rem;
}

@media screen and (min-width: 600px) {

/*ADDITION TO PRODUCTLIST*/

.breadcrumbs{
  display: flex;
  align-content: center;
  gap: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}




  /* Header Stuff STARTS ///////////////////////////////////////// */


  .header{
    display: block;
  }

.headermobile{
  padding: 0rem 0rem 0rem 0rem;
} 

.burgercontainer{
    display: none;
  }

  #dropDown {
    display: none;
  }

  .header {
    position: relative;

    width: 100%;

    height: 120px;
  }

  #navLogo > svg {
    padding-left: 17%;
  }

  #underHeader {
    display: grid;

    grid-template-columns: repeat(6, 1fr);

    width: 100vw;

    height: 120px;

    background-color: black;

    position: fixed;

    z-index: 40;

    gap: 1px;

    top: 0;

    border-bottom: 1px solid black;
  }

  #underHeader > div {
    background-color: #fafaf7;

    max-height: 100%;

    display: flex;

    justify-items: center;

    padding: 10px;
  }

  #underHeader > div > a {
    display: block;

    margin: auto;

    text-align: center;
  }

  #navlogo:hover {
    cursor: pointer;
  }

  #headerTitleDesktop {
    font-family: var(--ff-header);

    font-size: 3.5rem;

    display: block;

    width: 100%;

    text-align: center;

    padding: 2% 0% 2% 0%;
  }

  /* Header Stuff ENDS ///////////////////////////////////////// */

  .contactmain {
    display: grid;

    grid-template-columns: 1fr 2fr;

    grid-template-rows: 0.4fr 3fr;

    gap: 1px;
  }

  .contactgrid {
    display: flex;

    flex-direction: row;

    gap: 1px;
  }

  .contactimg {
    order: 0;

    display: flex;

    align-items: center;
  }

  .contactair {
    display: block;
  }
}

/*COMISSION PAGE*/

.comissionmain {
  display: flex;

  flex-direction: column;

  gap: 1px;
}

.formerworkgrid {
  display: flex;

  flex-direction: column;

  gap: 1px;
}

.formerworksection {
  display: grid;

  grid-template-columns: 1fr 1fr;
}

.formerworksection .container:nth-child(2) {
  display: grid;

  justify-content: center;
}

.formerworksection .container:nth-child(2) {
  display: flex;

  align-items: center;
}

.comissionheroimg {
  display: flex;
  background-image: url("../content/furnaceCups.webp");
  justify-content: center;
  background-position: 20%;
  background-size: cover;
  height: 40vh;
}

.comissionheroimg img {
  width: 100%;
}

.comissionnav,
.comissionsecondimage {
  display: none;
}

#comissionimg2 {
  background-image: url("../content/sexyCup.webp");
  justify-content: center;
  background-position: center;
  background-size: cover;
  height: 350px;
}

.formerworksection img {
  max-width: 100px;

  min-width: 100px;
}

#formerWorkImg1 {
  background-image: url("../content/foamWipe.webp");
  background-size: cover;
  background-position: center;
  height: 300px;
}

#formerWorkImg2 {
  background-image: url("../content/glassesTable.webp");
  background-size: cover;
  background-position: center;
  height: 300px;
}

.formerworksection .container:last-of-type {
  display: grid;

  align-content: center;
}

.comissionmain p,
.comissionmain h2,
.comissionmain h3,
.comissionmain h4,
.comissionmain h5,
.comissionmain h6 {
  padding-top: 1rem;

  padding-bottom: 1rem;
}

@media screen and (min-width: 700px) {
  .comissionnav,
  .comissionsecondimage {
    display: block;
  }

  .comissionsecondimage {
    display: grid;

    justify-content: center;
  }

  .comissionsecondimage img {
    width: 100%;

    padding: 2rem;

    max-width: 200px;
  }

  .comissionnav {
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 1px;
  }

  .comissionnav a {
    display: flex;

    justify-content: center;

    text-decoration: none;

    font-family: var(--ff-heading);

    color: var(--clr-sec);

    font-weight: var(--l-bold);

    padding-top: 1rem;

    padding-bottom: 1rem;
  }

  .comissionnav a:hover {
    background-color: #000;

    color: var(--clr-pri);
  }

  .comissionintrosection {
    display: grid;

    grid-template-columns: 1fr 2fr;

    gap: 1px;
  }

  .formerworksection {
    grid-template-columns: 3fr 1.5fr;

    gap: 1px;
  }

  .formerworksection img {
    max-width: 200px;

    padding-top: 1rem;

    padding-bottom: 1rem;
  }

  .formerworksection .container:last-of-type {
    display: grid;

    align-content: center;
  }
}

/*OUR PROCESS PAGE*/

.ourprocessmain {
  display: flex;

  flex-direction: column;

  gap: 1px;
}

.processvideosection {
  display: grid;

  grid-template-rows: 1fr auto;
}

#myVideo {
  width: 100%;
  padding-top: 10vh;
}

.processvideosection img {
  max-width: 80%;

  padding-top: 1rem;
}

.processvideosection p {
  max-width: 60%;
}

.ourprocessnav {
  display: grid;

  grid-template-rows: 1fr 1fr 1fr;

  gap: 1px;
}

.ourprocessnav a:hover {
  background-color: #000;

  color: #fafaf7;
}

.ourprocessnav a {
  display: flex;

  justify-content: center;

  text-decoration: none;

  font-family: var(--ff-heading);

  color: var(--clr-sec);

  font-weight: var(--l-bold);

  padding-top: 1rem;

  padding-bottom: 1rem;
}

.aboutussectionmobileimg {
  display: none;
}

.aboutussection1 {
  display: grid;

  grid-template-rows: 1fr;
}

.aboutussection1img {
  display: none;
}

.resumebutton {
  display: none;
}

.resumebuttonmobile {
  background-color: var(--clr-sec);

  display: flex;

  justify-content: end;
}

.resumebuttonmobile a {
  color: var(--clr-pri);

  text-decoration: none;

  font-family: var(--ff-main);

  font-weight: var(--h-ultralight);

  margin-right: 1rem;

  padding-top: 1rem;

  padding-bottom: 1rem;
}

.resumebuttonmobile a:hover {
  background-color: var(--clr-pri);

  color: #000;
}

.aboutussection2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.aboutussectiontwoimg {
  display: flex;

  align-items: center;

  justify-content: center;
}

.aboutussectiontwoimg img {
  max-width: 300px;

  padding: 2rem;
}

.ourprocessessection1 {
  display: grid;

  grid-template-rows: 1fr 1fr;
}

.ourprocessessection1 img {
  width: 100%;
}

.ourprocessessection2 {
  display: grid;

  grid-template-rows: 1fr;
}

.ourprocessessectionimg {
  display: none;
}

.featuredworksection {
  display: grid;

  grid-template-columns: 2fr 1.5fr;
}

.featuredworksection img {
  width: 100%;
}

.featuredworksection img {
  max-width: 100px;

  min-width: 100px;
}

.featuredworksection .container:last-of-type {
  display: grid;

  align-content: center;
}

.ourprocessmain p,
.ourprocessmain h2,
.ourprocessmain h3,
.ourprocessmain h4,
.ourprocessmain h5,
.ourprocessmain h6 {
  padding-top: 1rem;

  padding-bottom: 1rem;
}



@media screen and (max-width: 940px){
  .processvideosection p{
   max-width: 80%;
  }
  
  }

@media screen and (min-width: 600px) {
  .processvideosection {
    display: grid;

    grid-template-columns: 2fr 1fr;

    grid-template-rows: 1fr;

    gap: 1px;
  }

  p{
    font-size: 0.8rem;
   }
   
   .contactmain {
     display: grid;
     grid-template-columns: 1.5fr 2fr;
     grid-template-rows: none;
     gap: 1px;}
   
   .contactimg img{
     width: 80%;
     padding: 5%;
   }
   

  #myVideo {
    width: 100%;
    padding-top: 0vh;
  }


  .processvideosection img {
    max-width: 100%;

    padding-top: 0%;
  }

  #videocontainer {
    display: flex;
    align-items: center;
  }

  .aboutussectionmobileimg {
    display: none;
  }

  .aboutussection1 {
    display: grid;

    grid-template-columns: 1fr 1fr;

    min-height: 400px;

    grid-template-rows: none;

    gap: 1px;
  }

  .aboutussection1img {
    display: grid;
    background-image: url("../content/GJHeadshot.webp");
    background-position: center;
    background-size: cover;
    justify-content: center;
  }

  .aboutussection1 > .container > p {
    max-width: 60%;
  }

  .aboutussection1img img {
    max-width: 200px;

    padding: 2rem;
  }

  #aboutuspicture1 {
    background-image: url("../content/lauraHands.webp");
    background-position: center;
    background-size: cover;
    height: 250px;
  }

  #aboutuspicture2 {
    background-image: url("../content/colourPalette.webp");
    background-position: center;
    background-size: cover;
    height: 250px;
  }

  .aboutussection2 > .container > p {
    max-width: 60%;
  }

  .aboutussection2 {
    display: grid;

    grid-template-columns: 1fr 1fr;

    grid-template-rows: none;

    gap: 1px;
  }

  .aboutussectiontwoimg {
    order: 2;
  }

  .aboutussectiontwoimg img {
    width: 100%;
  }

  .resumebuttonmobile {
    display: none;
  }

  .resumebutton {
    background-color: var(--clr-sec);

    display: flex;

    justify-content: end;
  }

  .resumebutton a {
    color: var(--clr-pri);

    text-decoration: none;

    font-family: var(--ff-main);

    font-weight: var(--h-ultralight);

    margin-right: 1rem;

    padding-top: 1rem;

    padding-bottom: 1rem;
  }

  .ourprocessessection1 {
    display: grid;

    grid-template-columns: 1fr 2fr;

    grid-template-rows: none;

    gap: 1px;
  }

  .ourprocessessection1 > .container > p {
    max-width: 60%;
  }

  .ourprocessessection1 img {
    max-width: 200px;
    padding: 2rem;
    display: grid;
    justify-content: center;
  }

  .ourprocessessection2 > .container > p {
    max-width: 60%;
  }

  .ourprocessessection2 {
    display: grid;

    grid-template-columns: 2fr 1fr;

    grid-template-rows: none;

    gap: 1px;
  }

  .ourprocessessectionimg {
    display: grid;
    justify-content: center;
  }

  .ourprocessessectionimg img {
    max-width: 200px;

    padding: 2rem;
  }

  .featuredworksection {
    gap: 1px;
  }

  .featuredworksection .container:last-of-type {
    display: grid;

    justify-content: center;
  }

  .featuredworksection img {
    max-width: 200px;

    padding: 2rem;
  }

  .ourprocessnav {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;

    grid-template-rows: none;

    gap: 1px;
  }
}

/* product page- Caroline Mobil view  */

.productmain h2,
.productmain h3,
.productmain h4,
.productmain h5,
.productmain h6,
.productmain p {
  margin: 1rem;
}

/* carousel mobile view */

.productmain .carousel {
  width: 100%;

  height: 80vh;

  position: relative;
}

.productmain .slide {
  position: absolute;

  inset: 0;

  opacity: 0;

  transition: 200ms opacity ease-in-out;

  transition-delay: 200ms;
}

.productmain .slide[data-active] {
  opacity: 1;

  z-index: 1;

  transition-delay: 0s;
}

.productmain .slide > img {
  display: block;

  width: 100%;

  height: 100%;

  object-fit: cover;

  object-position: center;
}

.productmain .carousel-button {
  position: absolute;

  background: none;

  border: none;

  font-size: 3rem;

  z-index: 2;

  top: 50%;

  transform: translateY(-50%);

  background-color: rgb(250, 250, 247, 0.5);

  padding: 0 0.5rem;

  border-radius: 0.25rem;
}

.productmain button.prev {
  left: 1rem;
}

.productmain button.next {
  right: 1rem;
}

.productmain .deskviewimages {
  display: none;
}

.productmain .caresendpriceadd {
  gap: 1px;

  display: grid;
}

.caresendpriceadd > div:hover {
  cursor: pointer;
}

.blackbackground {
  background-color: var(--clr-sec);
}

.productmain .moreproducts {
  display: grid;

  grid-template-columns: 1fr 1fr;

  gap: var(--grid-gap);
}

main.productmain {
  display: flex;

  flex-direction: column;

  gap: var(--grid-gap);
}

.productmain img {
  width: 100%;
}

.productmain .productinfo {
  display: flex;

  flex-direction: column;
}

.productmain h2 {
  font-size: 10vw;

  text-transform: uppercase;
}

.productmain h2.morecollection {
  font-size: 6vw;

  text-align: center;
}

.productmain h6 {
  font-size: 1.5rem;

  text-align: right;
}

.productmain h6.price {
  font-weight: var(--h-semibold);
}

.productmain .basket {
  color: var(--clr-pri);
}

@media screen and (min-width: 500px) {
  .productmain .deskviewimages {
    background-color: var(--clr-sec);

    display: grid;

    gap: var(--grid-gap);

    grid-template-columns: 25% 1fr;

    grid-template-rows: 1fr 1fr 1fr;
  }

  .productmain .mainproduct {
    grid-row: 1/4;

    grid-column: 2;
  }

  .productmain .deskviewimages img {
    display: block;

    width: 100%;

    height: 100%;

    object-fit: cover;

    object-position: center;
  }

  .productmain .mobileslide {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  /* product page on desktop */

  main.productmain {
    display: grid;

    grid-template-columns: 50% 1fr;
  }

  .productmain .deskviewimages {
    grid-column: 1 / 2;

    grid-row: 1/ 3;
  }

  .productmain .productinfo {
    grid-column: 3/-1;
  }

  .productmain .morefrom {
    grid-column: 1/-1;
  }

  .productmain .moreproducts {
    grid-column: 1/-1;
  }

  .productmain .morefrom h2 {
    font-size: 3vw;

    text-align: left;
  }

  .productmain h2 {
    font-size: 6vw;
  }

  .productmain .moreproducts {
    grid-template-columns: repeat(4, 1fr);
  }

  .productmain .moreproducts img {
    display: block;

    width: 100%;

    height: 100%;

    object-fit: cover;

    object-position: center;
  }
}

/*LANDING PAGE */

.desktoplearnmore{
  display: block;
  margin-left: 1rem;
}

.landingmain {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1px;
  background-color: #000;
}

.landinggrid2 {
  display: grid;

  grid-template-columns: 1fr;

  gap: 1px;

  background-color: #000;
}

.navimg {
  background-image: url("../content/tableSitu.webp");

  min-height: 300px;

  background-position: center;

  background-repeat: no-repeat;

  background-size: cover;

  /* Needed to position the navbar */

  position: relative;
}

.navcontainer {
  display: none;
}

.landingsecondimg img {
  display: none;
}

/* anchor positioning ////////////////////////// */

#totayama {
  position: relative;
  top: -177px;
}

#gallokken {
  position: relative;
  top: -120px;
}

#aboutus {
  position: relative;
  top: -187px;
}

#ourProcessAnchor {
  position: relative;
  top: -183px;
}

#featuredwork {
  position: relative;
  top: -188px;
}

#comission {
  position: relative;
  top: -178px;
}

#formerWork {
  position: relative;
  top: -120px;
}

.landingmain p,
.landingmain h2,
.landingmain h3,
.landingmain h4,
.landingmain h5,
.landingmain h6 {
  padding-top: 1rem;

  padding-bottom: 1rem;
}

.totayamasection,
.reykjaviksection,
.gallokkensection {
  display: grid;

  grid-template-columns: 1fr;

  gap: 1px;
}

.landingpagenav {
  display: none;
}

.sectionsecondimg {
  display: none;
}

.totayamasection img {
  width: 100%;
}

.gallokkensection img {
  width: 100%;
}

.reykjaviksection img {
  width: 100%;
}

.landingproductimage {
  display: none;
}

.imagehover {
  display: none;
}

/* Landing Page Carousel*/

.landingcarousel1 {
  width: 100vw;

  height: 100vh;

  position: relative;
}

.landingmain .slide1 {
  position: absolute;

  inset: 0;

  opacity: 0;

  transition: 200ms opacity ease-in-out;

  transition-delay: 200ms;
}

.landingcarousel1 ul {
  margin: 0;

  padding: 0;

  list-style: none;
}

.landingmain .slide1[data-active] {
  opacity: 1;

  transition-delay: 0ms;
}

.slide1 img {
  display: block;

  width: 100%;

  height: 100%;

  object-fit: cover;

  object-position: center;
}

.landingcarousel-button1 {
  position: absolute;

  background: none;

  border: none;

  font-size: 4rem;

  top: 50%;

  z-index: 5;

  transform: translateY(-50%);

  cursor: pointer;

  border-radius: 0.25rem;

  padding: 0.5rem;

  background-color: rgba(0, 0, 0, 0.01);
}

.landingcarousel-button1:hover,
.landingcarousel-button1:focus {
  color: var(--clr-pri);

  background-color: rgba(0, 0, 0, 0.2);
}

.landingcarousel-button1.prev {
  left: 1rem;
}

.landingcarousel-button1.next {
  right: 1rem;
}

@media screen and (min-width: 700px) {

.desktoplearnmore{
  display: none;
}


  .landingproductimage {
    display: block;
  }

  .navimg {
    min-height: 86vh;
  }

  .navcontainer {
    display: block;

    width: 100%;

    height: 100%;

    position: absolute;
  }

  /* The navbar */

  .topnav {
    overflow: hidden;

    display: grid;

    grid-template-columns: 1fr 1fr;

    grid-template-rows: 1fr 1fr;

    width: 90%;

    height: 100%;

    margin: auto;
  }

  /* Navbar links */

  .topnav a {
    font-family: var(--ff-heading);

    float: left;

    color: var(--clr-sec);

    text-align: center;

    padding: 5%;

    text-decoration: none;

    font-size: 2rem;

    display: grid;

    align-content: center;

    /* text-transform: uppercase; */

    font-weight: var(--l-bold);

    display: grid;

    align-content: center;
  }

  .leftnav {
    justify-content: start;

    margin-left: 1rem;

    display: grid;
  }

  .rightnav {
    justify-content: end;

    margin-right: 1rem;
  }

  .topnav a:link {
    text-decoration: none;
    background-color: transparent;
  }
  .topnav a:visited {
    background-color: transparent;
    text-decoration: none;
  }

  .topnav a:hover {
    color: var(--clr-pri);
  }

  .topnav a:active {
    text-decoration: none;
    background-color: transparent;
  }

  .landingsecondimg {
    display: grid;

    justify-content: center;
  }

  .landingsecondimg img {
    max-width: 200px;

    padding: 2rem;
  }

  .landingcarousel1 {
    display: none;
  }

  .welcomesection {
    display: grid;

    grid-template-columns: 1fr 1fr;

    justify-content: center;

    align-content: center;

    gap: 1px;

    background-color: #000;

    height: 400px;
  }

  .welcome1 {
    display: grid;

    gap: 1px;

    grid-template-rows: 1fr 3fr;

    height: 400px;
  }

  .welcome2 {
    background-image: url("../content/family.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .welcomesection p,
  .welcomesection h2 {
    max-width: 450px;
  }

  .landingpagenav {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;

    gap: 1px;
  }

  .landingpagenav a:hover {
    background-color: #000;

    color: #fafaf7;
  }

  .landingpagenav a {
    display: flex;

    justify-content: center;

    text-decoration: none;

    font-family: var(--ff-heading);

    color: var(--clr-sec);

    font-weight: var(--l-bold);

    padding-top: 1rem;

    padding-bottom: 1rem;
  }

  .sectionsecondimg {
    display: block;
  }

  .totayamasection,
  .reykjaviksection {
    display: grid;

    grid-template-columns: 1fr 1fr;

    grid-template-rows: 0.2fr 0.7fr 2.5fr;
  }

  #firstMacro {
    background-image: url("../content/totyamaFlaskMacro.webp");
    background-size: cover;
    background-position: 50%;
  }

  #secondMacro {
    background-image: url("../content/gallokenFlaskMacro.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #thirdMacro {
    background-image: url("../content/icelandCupContext.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .totayamasection .sectionsecondimg,
  .reykjaviksection .sectionsecondimg {
    grid-column-start: 2;

    grid-row-start: 1;

    grid-row-end: 4;
  }

  .sectionsecondimg {
    display: grid;

    align-items: center;
  }

  .gallokkensection p,
  .totayamasection p,
  .reykjaviksection p {
    max-width: 500px;

    margin: auto;
  }

  .gallokkensection {
    display: grid;

    grid-template-columns: 1fr 1fr;

    grid-template-rows: 0.7fr 1fr 2.3fr;
  }

  .gallokkensection .sectionsecondimg {
    grid-column-start: 1;

    grid-row-start: 1;

    grid-row-end: 4;
  }

  .landingmain p {
    display: grid;

    margin-left: 1rem;
  }

  .landingproductimage img {
    max-height: 300px;
  }

  .landingproductimage {
    position: relative;

    display: grid;

    justify-content: center;

    align-content: center;
  }

  .imagehover {
    position: absolute;

    display: grid;

    grid-template-rows: 1fr 0.4fr 0.4fr;

    top: 0;

    bottom: 0;

    left: 0;

    right: 0;

    background: rgba(0, 0, 0, 0.1);

    color: var(--clr-sec);

    visibility: hidden;

    opacity: 0;

    padding: 0rem;

    /* transition effect. not necessary */

    transition: opacity 0.2s, visibility 0.2s;
  }

  .imagehover .price {
    display: grid;

    max-width: 100%;

    margin: 0;

    justify-content: end;

    align-content: center;

    text-decoration: none;

    border-top: 1px solid black;

    padding-right: 1rem;
  }

  .imagehover a {
    display: grid;

    justify-content: end;

    align-content: center;

    text-decoration: none;

    border-top: 1px solid black;

    padding-right: 1rem;

    text-transform: uppercase;

    font-family: var(--ff-main);

    color: #000;
  }

  .imagehover a:hover {
    background-color: black;

    color: #fafaf7;
  }

  .landingproductimage:hover .imagehover {
    visibility: visible;

    opacity: 1;
  }
}

/* our products page Caroline  */

.ourproductsmain p,
.ourproductsmain h2,
.ourproductsmain h3,
.ourproductsmain h4,
.ourproductsmain h5,
.ourproductsmain h6,
.ourproductsmain p {
  padding-top: 1rem;

  padding-bottom: 1rem;
}

.ourproductsmain button {
  border-style: none;
}

.ourproductsmain button:hover,
button:focus {
  background-color: black;
  fill: var(--clr-pri);
  color: #fafaf7;
}

.ourproductsmain img {
  display: block;

  width: 100%;

  height: 100%;

  object-fit: cover;

  object-position: center;
}

.ourproductsmain .heroimage {
  height: 50vh;
  background-image: url("../content/macroJapCup.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-column: 1/-1;
}

.ourproductsmain {
  display: grid;

  grid-template-columns: 1fr 1fr;

  gap: var(--grid-gap);
}

.ourproductsmain .shopby {
  grid-column: 1/-1;
}

.ourproductsmain .shopby h2 {
  text-align: center;

  text-transform: uppercase;
}

.ourproductsmain nav.materialnav {
  grid-column: 1/-1;

  display: grid;

  grid-template-columns: 1fr 1fr;

  gap: var(--grid-gap);
}

.ourproductsmain .materialnav h2 {
  text-align: center;

  font-size: 1.2rem;
}

.ourproductsmain nav.countrynav {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
  gap: var(--grid-gap);
}

.ourproductsmain .countrynav h2 {
  text-align: center;

  font-size: 1rem;
}

.ourproductsmain .firstproductimage {
  grid-column: 1/-1;
}

.ourproductsmain a:hover,
.ourproductsmain a:focus {
  background-color: black;
  fill: var(--clr-pri);
  color: #fafaf7;
}

.ourproductsmain .productcard:hover .imagehover {
  visibility: visible;

  opacity: 1;
}

.ourproductsmain .productcard {
  position: relative;
}

@media screen and (min-width: 768px) {
  .ourproductsmain {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .ourproductsmain .firstproductimage {
    grid-column: 3 / -1;

    grid-row: 5 / span 2;

    order: 2;
  }

  .ourproductslist .productslistimage {
    grid-row: 4 / span 2;
  }
}
